# LLM API Keys


# Database
DATABASE_URL=https://www.kaggle.com/datasets/ealtman2019/ibm-transactions-for-anti-money-laundering-aml?select=HI-Medium_accounts.csv

# App Settings
DEBUG=False
PORT=8000

# Model Settings
GNN_MODEL_PATH=models/gnn_model.pt

#LLM_MODEL_NAME
